@font-face {
  font-family: 'Kayak';
  src: url('fonts/kayak/KayakSans.eot');
  src: url('fonts/kayak/KayakSans.woff2') format('woff2'),
       url('fonts/kayak/KayakSans.woff') format('woff'),
       url('fonts/kayak/KayakSans.ttf') format('truetype'),
       url('fonts/kayak/KayakSans.svg#Bulo-Light') format('svg'),
       url('fonts/kayak/KayakSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
